body {
	font-family: Arial;
}

.centered {
  text-align: center; 
}

* {
	box-sizing: border-box;
}

.left, .right, .center {
  float: left;
  width: 33%;
  color: black;
  padding: 10px;
  height: 500px;
  text-align: center;
  border: 1px solid black;
}

.container:after {
 	clear: both;
}


.selected {
  opacity: 1;
  stroke: orange;
  stroke-width: 1.2px;
}

