body {
	font-family: Arial;
}

.centered {
  text-align: center; 
}

.column {
	flex: 33.33%;
	height: 200px;
	padding: 10px;
	margin: 5px;
	text-align: center;
	border: 1px solid black;
}

.row {
	display: flex;
}

